@font-face
    font-family 'Circe-regular'
    font-style normal
    font-weight 400
    src: local('☺'), 
     	url('fonts/Circe-Reg.woff') format('woff'),
     	url('fonts/Circe-Reg.ttf')  format('truetype'),
     	url('fonts/Circe-Reg.svg#Circe-Reg') format('svg')

@font-face
    font-family 'Circe-bold'
    font-style normal
    font-weight 400
    src: local('☺'), 
     	url('fonts/Circe-Bold.woff') format('woff'),
     	url('fonts/Circe-Bold.ttf')  format('truetype'), 
     	url('fonts/Circe-Bold.svg#Circe-Bold') format('svg')

@font-face
    font-family 'Circe-Extrabold'
    font-style normal
    font-weight 400
    src: local('☺'), 
     	url('fonts/Circe-ExtraBold.woff') format('woff'),
     	url('fonts/Circe-ExtraBold.ttf')  format('truetype'), 
     	url('fonts/Circe-ExtraBold.svg#Circe-ExtraBold') format('svg')

@font-face
    font-family 'Glyphter'
    font-style normal
    font-weight 400
    src: local('☺'), 
        url('fonts/Glyphter.woff') format('woff'),
        url('fonts/Glyphter.ttf')  format('truetype'), 
        url('fonts/Glyphter.svg#Glyphter') format('svg')

@font-face
    font-family 'ALSRublRegular'
    font-style normal
    font-weight 400
    src: local('☺'), 
        url('fonts/rouble.woff') format('woff'),
        url('fonts/rouble.ttf')  format('truetype'), 
        url('fonts/rouble.svg#ALSRubl') format('svg')