@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){ 

    .vertical-center{
        position:relative;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){ 

	.vertical-center{
    	padding:0 335px;
    }

    /*------------------------------- Error / Success pages ------------------------------*/

    #order-error .order-success-bottom-block i.doctor-bottom,
    #review-error .order-success-bottom-block i.doctor-bottom{
        right:0px;
    }

    #order-error a.link-to-site, 
    #review-error a.link-to-site{
        font-size:13px;
        padding-top:16px;
        lettr-spacing:-1px;
    }

    #order-error .order-success-bottom-block,
    #review-error .order-success-bottom-block{padding-top:110px;}

    #review-error .link-to-favorites a,
    #order-error .link-to-favorites a{
        letter-spacing:0;
    }

    #review-error .success-text p.green,
    #order-error .success-text p.green{
        margin-bottom:0;
    }

    a.close-btn{
        background-image:url('../img/pics/ipad/close-btn-h.png');
        background-position:0 50%;
        width:40px; 
        height:40px;
        background-repeat:no-repeat;
        margin-top:-20px;
    }

    .success-block{
        padding:40px 370px 30px 370px;
    }

    strong.success-title{
        font-size:17px;
        padding-bottom:18px;
    }

    .order-success-content{
        padding-top:70px;
    }

    .order-success-content > i.success-check{
        background-image:url('../img/pics/ipad/success-check-h.png');
        background-position:0 0;
        width:49px; 
        height:50px;
        background-repeat:no-repeat;
        margin-left:-25px;
        top:11px;
    }

    .success-text{padding-top:20px;}

    .success-text p.gray{
        font-size:14px;
        line-height:19px;
        padding-bottom:20px;
        margin-bottom:20px;
    }

    .success-text p.green{
        font-size:12px;
        line-height:19px;
    }

    .order-success-bottom-block i.doctor-bottom{
        background-image:url('../img/pics/ipad/doctor-success-bottom-h.png');
        background-position:0 0;
        width:79px; 
        height:144px;
        background-repeat:no-repeat;
        left:auto;
        right:-15px;
        bottom:-40px;
    }

    .order-success-bottom-block{
        display:block;
        padding-top:102px;
    }

    .link-to-favorites{
        padding-left:32px;
        padding-bottom:23px;
    }

    .link-to-favorites a{
        font-size:16px; 
        letter-spacing:-.5px;
    }

    .link-to-favorites i{
        background-image:url('../img/pics/ipad/favorites-bg-h.png');
        background-position:0 0;
        width:20px; 
        height:15px;
        background-repeat:no-repeat;
        top:1px;
    }

    #order-success a.link-to-site, #review-success a.link-to-site{
        font-size:13px;
        padding-top:14px;
    }

    /*------------------------------- Order doctor page ----------------------------------*/

    #doctor-form .doctor-info-block{
        margin-left:325px;
        margin-right:325px;
        padding-left:20px;
        padding-top:20px;
        padding-bottom:25px;
    }

    #doctor-form .doctor-order-form{
        padding:20px 376px;
    }

    .doctor-info-block .right-block h3.name{
        font-size:16px;
        line-height:22px;
    }

    .doctor-info-block .right-block .prof{
        font-size:12px;
    }

    .doctor-order-form > form .form-item{
        margin-bottom:10px;
    }

    .doctor-order-form > form .form-item > i{
        left:4px;
    }

    .doctor-order-form > form .form-item.item-1 > i{
        background-image:url('../img/pics/ipad/of-1-h.png');
        background-position:0 0;
        width:34px;
        height:33px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-2 > i{
        background-image:url('../img/pics/ipad/of-2-h.png');
        background-position:0 0;
        width:34px;
        height:33px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-3 > i{
        background-image:url('../img/pics/ipad/of-3-h.png');
        background-position:0 0;
        width:33px;
        height:33px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-3{margin-bottom:55px;}

    .doctor-order-form > form .form-item input[type="text"], 
    .doctor-order-form > form .form-item input[type="tel"], 
    .doctor-order-form > form .form-item textarea{
        font-size:14px;
        padding:11px 10px 10px 45px;
        border-radius:20px;
    }

    .doctor-order-form > form .form-item textarea{height:95px!important;}

    .send-button-wrap > a > i{
        background-image:url('../img/pics/ipad/check-white-h.png');
        background-position:0 0;
        width:16px;
        height:23px;
        background-repeat:no-repeat;
        right:21px;
        top:9px;
    }

    #doctor-form .doctor-order-form i.doctor-bottom{
        background-image:url('../img/pics/ipad/doctor-order-bottom-h.png');
        background-position:0 0;
        width:112px;
        height:145px;
        background-repeat:no-repeat;
        right:350px;
        left:auto;
        bottom:50px;
    }

    .send-button-wrap{
        border-width:3px;
        border-radius:35px;
        margin-bottom:20px;
    }

    .send-button-wrap > a{
        border-width:2px;
        font-size:16px;
        padding:15px 48px 15px 20px;
        border-radius:35px;
    } 

    #doctor-form .call-us > strong{
        font-size:18px;
        letter-spacing:-1px;
    }

    #doctor-form .call-us > span{
        font-size:14px;
    }

    #doctor-form a.link-to-site{
        font-size:13px;
    }

    #doctor-form .call-us{
        padding:19px 0 19px 28px;
        margin-bottom:18px;
    }

    #doctor-form .call-us > i.iphone-bg{top:21px;}

    /*------------------------------------ Sidebar ---------------------------------------*/

    .ui-panel-page-content-open.ui-panel-position-right{
        margin-right:370px;
    }

    .ui-panel.ui-panel-open{
        width:370px;
    }

    .ui-panel-animate.ui-panel-page-content-position-right {
        left: 0;
        right: 0;
        -webkit-transform: translate3d(-370px,0,0);
        -moz-transform: translate3d(-370px,0,0);
        transform: translate3d(-370px,0,0);
    }

    .rightPanel{height:100%;}

    .rightPanel .ui-panel-inner{
        padding:20px 0 30px 25px;
        position:relative;
        min-height:100%;
    }

    .rightPanel .ui-panel-inner .aside-header{
        padding-right:30px;
        margin-bottom:20px;
    }

    .rightPanel .ui-panel-inner .aside-header .logo-small{
        background-image:url('../img/pics/ipad/logo-aside-h.png');
        background-position:0 0;
        width:88px;
        height:30px;
        background-repeat:no-repeat;
    }

    .aside-description{
        padding-right:50px;
        margin-bottom:20px;
    }

    .aside-description p{
        font-size:12px;
        line-height:18px;
    }

    .aside-block > strong:first-child{
        font-size:13px;
        margin-bottom:11px;
    }

    .aside-block ul li{
        font-size:14px;
    }

    .aside-block ul li a, 
    .aside-block ul li a:hover, 
    .aside-block ul li a:active, 
    .aside-block ul li a:visited {
        padding:16px 50px 16px 15px;
    }

    .aside-foo{
        position:absolute;
        left:25px;
        bottom:0;
        padding-bottom:30px;
    }

    .aside-foo a{
        font-size:13px;
        margin-left:0;
        letter-spacing:-.5px;
    }

    .aside-block ul li i{
        background-image:url('../img/pics/ipad/aside-arrow-h.png');
        background-position:0 0;
        width:11px;
        height:20px;
        background-repeat:no-repeat;
        margin-top:-10px;
        right:20px;
    }

    /*------------------------------------ Map Page --------------------------------------*/

    .panel-btn{
        background-image:url('../img/pics/ipad/menu_btn-h.png');
        background-position:100% 50%;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
        margin-top:-20px;
    }

    a.close-map{
        background-image:url('../img/pics/ipad/close_map_btn-h.png');
        background-position:50% 50%;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
        top:20px;
        right:24px;
    }

    .infobox-inn{
        width:310px;
        margin-left:-50px;
    }

    .infobox-inn .right-block{
        padding:14px 5px 14px 14px;
    }

    #infobox i.triangle{
        margin-left:-45px;
    }

    .infobox-inn .right-block strong,
    .infobox-inn .right-block em{font-size:16px;}

    .infobox-inn .right-block strong{margin-bottom:6px;}

    #map-page div[data-role='footer'] .w-500{
        float:right;
        padding-right:14px;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn{
        float:left;
        border-width:3px;
        border-radius:30px;
        margin-right:12px;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn > a{
        font-size:16px;
        line-height:16px;
        padding:15px 60px 15px 20px;
        border-width:2px;
        border-radius:30px;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn > a > i{
        background-image:url('../img/pics/ipad/envelope-white-h.png');
        background-position:0 0;
        width:29px;
        height:12px;
        background-repeat:no-repeat;
        top:16px;
        right:20px;
    }

    .call-doctor-btn{
        border-width:4px;
    }

    .call-doctor-btn > a{
        width:48px;
        height:48px;
    }

    .call-doctor-btn > a > i{
        background-image:url('../img/pics/ipad/phone-white-h.png');
        background-position:0 0;
        width:20px;
        height:20px;
        background-repeat:no-repeat;
        margin-left:-10px;
        margin-top:-10px;
    }

    /*---------------------------------- Filter Pages ------------------------------------*/

    div.fixed[data-role='header']{
        padding:0 30px;
    }

    .fixed-inn{padding:22px 0;}

    .fixed .fixed-inn > strong{font-size:20px;}

    .fixed .fixed-inn .back-link{
        background-image:url('../img/pics/ipad/back-link-bg-h.png');
        background-position:0 50%;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
        margin-top:-20px;
    }

    .fixed form.ui-filterable > i{
        background-image:url('../img/pics/ipad/lupa-orange-h.png');
        background-position:0 0;
        width:22px;
        height:22px;
        background-repeat:no-repeat;
        top:23px;
        right:356px;
    }

    .c-content ul[data-role='listview'] li > i{
        background-image:url('../img/pics/ipad/gray-right-arrow-h.png');
        background-position:0 0;
        width:11px;
        height:20px;
        background-repeat:no-repeat;
        margin-top:-10px;
        right:0;
    }

    .fixed form.ui-filterable input{
        font-size:14px;
        border-width:2px;
        padding:0 40px 0 20px;
        height:34px;
        line-height:34px;
    }

    .fixed form.ui-filterable{
        padding:17px 345px 8px 345px;
    }

    .ui-content.c-content{
        padding-left:285px;
        padding-right:285px;
    }

    .c-content ul[data-role='listview'] li{
        padding:12px 50px 12px 0;
    }

    .c-content ul[data-role='listview'] li.ui-li-divider{
        font-size:13px;
        padding:9px 0;
    }

    .c-content ul[data-role='listview'] li.ui-li-divider:first-child{padding-top:0;}

    .c-content ul[data-role='listview'] li > strong{
        font-size:14px;
    }

    .c-content ul[data-role='listview'] li > span{
        font-size:11px;
    }

    .c-content ul[data-role='listview'] li > em{
        font-size:11px;
        right:21px;
        top:10px;
    }

    #select-metro .c-content ul[data-role='listview'] li{
        padding-top:17px;
        padding-bottom:17px;
    }

    #select-metro .c-content ul[data-role='listview'] li.ui-li-divider{
        padding:9px 0;
    }

    #select-metro .c-content ul[data-role='listview'] li.ui-li-divider:first-child{padding-top:0;}

    /*---------------------------------- Index Page ----------------------------------*/

    .index-img-wrapper i{
        background-image:url('../img/pics/ipad/logo-h.png');
        background-position:0 0;
        width:154px;
        height:53px;
        background-repeat:no-repeat;
    }

    .city-dropdown-wrapper span:first-child{font-size:14px;}

    #index-page .city-dropdown-wrapper i{top:8px;}

    #index-page div[data-role='header']{padding-top:1em;}

    .index-img-wrapper{margin-top:0;}

    #index-page div[data-role='footer'] > i{
        background-image:url('../img/pics/ipad/doctor_image_bottom-h.png');
        background-position:0 0;
        width:88px;
        height:190px;
        background-repeat:no-repeat;
        right:5px;
        bottom:-45px;
    }

    #index-page ul.items-listing li.item-1 i{
        background-image:url('../img/pics/ipad/note-icon-h.png');
        background-position:0 0;
        width:16px;
        height:20px;
        background-repeat:no-repeat;
        margin-top:1px;
    }

    #index-page ul.items-listing li.item-2 i{
        background-image:url('../img/pics/ipad/doctors-icon-h.png');
        background-position:0 0;
        width:16px;
        height:20px;
        background-repeat:no-repeat;
        margin-top:1px;
    }

    #index-page ul.items-listing li.item-3 i{
        background-image:url('../img/pics/ipad/reviews-icon-h.png');
        background-position:0 0;
        width:16px;
        height:20px;
        background-repeat:no-repeat;
        margin-top:1px;
    }

    .f-s a span{
        background-image:url('../img/pics/ipad/spec-h.png');
        background-position:0 0;
        width:31px;
        height:31px;
        background-repeat:no-repeat;
    }

    .f-m a span{
        background-image:url('../img/pics/ipad/metro-h.png');
        background-position:0 0;
        width:31px;
        height:31px;
        background-repeat:no-repeat;
    }

    .find-doctor a.ui-link i{
        background-image:url('../img/pics/ipad/lupa-white-h.png');
        background-position:0 0;
        width:22px;
        height:22px;
        background-repeat:no-repeat;
        right:24px;
        top:13px;
    }

    #index-page div[data-role='footer'] .call-us i.iphone-bg{
        background-image:url('../img/pics/ipad/iphone-h.png');
        background-position:0 0;
        width:17px;
        height:28px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing{
        padding-top:34px;
        max-width:none;
        padding-right:0;
    }

    #index-page ul.items-listing li{padding-left:23px;}

    #index-page ul.items-listing li strong{
        font-size:13px;
    }

    #index-page ul.items-listing li span{
        font-size:10px;
    }

    .index-main-block > h3:first-child{
        font-size:20px;
        padding-top:20px;
    }

    .imb-content{
        padding:20px 22px 22px 22px;
        margin-bottom:22px;
    }

    .imb-content p{
        font-size:13px;
        line-height:17px;
        margin-bottom:20px;
    }

    .ui-page-theme-a .top-index-link a{
        font-size:14px;
        padding:12px 43px;
    }

    .top-index-link a i{
        right:15px;
        top:17px;
    }

    .top-index-link{border-radius:18.5px;}

    .find-doctor{
        margin:0 22px;
    }

    .find-doctor a.ui-link{
        font-size:16px;
        letter-spacing:3px;
    }

    .find-doctor a.ui-link i{
        top:9px;
        right:18px;
    }

    #index-page div[data-role='footer']{
        padding-top:22px;
        padding-bottom:25px;
    }

    #index-page div[data-role='footer'] .call-us > strong{
        font-size:15px;
    }

    #index-page div[data-role='footer'] .call-us > span{
        font-size:13px;
    }

    #index-page div[data-role='footer'] .call-us{
        padding:18px 0 18px 28px;
        margin:4px 110px 16px 0;
    }

    #index-page div[data-role='footer'] .call-us i.iphone-bg{
        top:19px;
    }

    #index-page div[data-role='footer'] a.link-to-site{
        font-size:13px;
        letter-spacing:-.5px;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){ 

	.vertical-center{
    	padding:0 150px;
    }

    /*--------------------------------- Send review page ---------------------------------*/

    .send-review-wrapper{
        padding-left:196px;
        padding-right:196px;
        padding-top:40px;
    }

    .send-review-form .form-item.item-1 > i{
        background-image:url('../img/pics/ipad/fr-1.png');
        background-position:0 0;
        width:43px; 
        height:43px;
        background-repeat:no-repeat;
    }

    .send-review-form .form-item.item-2 > i{
        background-image:url('../img/pics/ipad/fr-2.png');
        background-position:0 0;
        width:43px; 
        height:43px;
        background-repeat:no-repeat;
    }

    .send-review-form .form-item.item-4 > i{
        background-image:url('../img/pics/ipad/fr-3.png');
        background-position:0 0;
        width:43px; 
        height:43px;
        background-repeat:no-repeat;
    }

    .send-review-btn-block{
        border-width:4px;
        border-radius:36px;
        margin:0 0 0 30px;
    }

    .send-review-btn-block > a{
        font-size:22px;
        border-width:3px;
        padding:20px 85px 19px 40px;
        border-radius:36px;
    }

    .send-review-btn-block > a > i{
        background-image:url('../img/pics/ipad/check-white.png');
        background-position:0 0;
        width:22px; 
        height:32px;
        background-repeat:no-repeat;
        top:8px;
        right:38px;
    }

    .send-review-form .form-item input[type="text"], 
    .send-review-form .form-item input[type="tel"], 
    .send-review-form .form-item textarea{
        font-size:20px;
        padding:12px 10px 11px 60px;
        border-radius:26px;
    }

    .send-review-form .form-item textarea{height:135px!important;}

    .send-review-title strong{
        font-size:28px;
    }

    .send-review-title p{
        font-size:18px;
        line-height:26px;
    }

    .send-review-title{
        padding:20px 60px;
    }

    .send-review-form{
        padding:25px 30px 0 30px;
    }

    .send-review-form .form-item{margin-bottom:16px;}

    .send-review-form .form-item.item-4{margin-bottom:35px;}

    .send-review-top-block{
        margin-bottom:40px;
    }

    a.textarea-spoiler{font-size:22px;}

    a.textarea-spoiler > i{
        border-width:6px;
        right:-20px;
        top:10px;
    }

    .review-rating-block .review-rating-item{
        margin-bottom:25px;
    }

    .review-rating-block{
        margin-bottom:70px;
        padding-left:53px;
    }

    .review-rating-block .review-rating-item > span{
        font-size:16px;
        line-height:22px;
    }

    .range-wrap{
        margin-right:16px;
        width:155px;
        height:22px;
    }

    .range-wrap div.ui-slider .ui-slider-track{
        height:22px;
        width:155px;
        background:transparent url('../img/pics/ipad/rating-empty.png') no-repeat 0 0;
    }

    .range-wrap .ui-btn-active{
        height:22px;
        width:155px;
        background:transparent url('../img/pics/ipad/rating-full.png') no-repeat 0 0;
    }

    .range-wrap .ui-slider-track .ui-btn.ui-slider-handle{
        width:22px;
        height:22px;
        margin-left:-11px;
        margin-right:-11px;
        opacity:0;
    }

    /*------------------------------- Error / Success pages ------------------------------*/

    #order-error .order-success-content > i.success-check, 
    #review-error .order-success-content > i.success-check{
        background-image:url('../img/pics/ipad/error-bg.png');
        background-position:0 50%;
        width:71px; 
        height:71px;
        background-repeat:no-repeat;
        margin-left:-35.5px;
        top:15px;
    }

    #order-error .order-success-bottom-block i.doctor-bottom,
    #review-error .order-success-bottom-block i.doctor-bottom{
        right:0px;
    }

    #order-error a.link-to-site, 
    #review-error a.link-to-site{
        font-size:17px;
        padding-top:30px;
    }

    #review-error .link-to-favorites a,
    #order-error .link-to-favorites a{
        letter-spacing:0;
    }

    #review-error .success-text p.green,
    #order-error .success-text p.green{
        margin-bottom:0;
    }

    .close-btn{
        background-image:url('../img/pics/ipad/close-btn.png');
        background-position:0 50%;
        width:40px; 
        height:40px;
        background-repeat:no-repeat;
        margin-top:-20px;
    }

    .success-block{
        padding:40px 195px 30px 195px;
    }

    strong.success-title{
        font-size:24px;
        padding-bottom:24px;
    }

    .order-success-content{
        padding-top:98px;
    }

    .order-success-content > i.success-check{
        background-image:url('../img/pics/ipad/success-check.png');
        background-position:0 50%;
        width:71px; 
        height:71px;
        background-repeat:no-repeat;
        margin-left:-35.5px;
        top:15px;
    }

    .success-text{padding-top:30px;}

    .success-text p.gray{
        font-size:20px;
        line-height:26px;
        padding-bottom:30px;
        margin-bottom:30px;
    }

    .success-text p.green{
        font-size:16px;
        line-height:26px;
        margin-bottom:30px;
    }

    .order-success-bottom-block i.doctor-bottom{
        background-image:url('../img/pics/ipad/doctor-success-bottom.png');
        background-position:0 0;
        width:110px; 
        height:201px;
        background-repeat:no-repeat;
        left:auto;
        right:-30px;
        bottom:-45px;
    }

    .order-success-bottom-block{
        display:block;
        padding-top:225px;
    }

    .link-to-favorites{
        padding-left:38px;
        padding-bottom:42px;
    }

    .link-to-favorites a{
        font-size:23px; 
        letter-spacing:-1px;
    }

    .link-to-favorites i{
        background-image:url('../img/pics/ipad/favorites-bg.png');
        background-position:0 0;
        width:28px; 
        height:20px;
        background-repeat:no-repeat;
    }

    #order-success a.link-to-site, #review-success a.link-to-site{
        font-size:17px;
        padding-top:30px;
    }

    /*------------------------------- Order doctor page ----------------------------------*/

    #doctor-form .doctor-info-block{
        margin-left:138px;
        margin-right:138px;
        padding-left:30px;
        padding-top:30px;
        padding-bottom:30px;
    }

    #doctor-form .doctor-order-form{
        padding:30px 195px 35px 195px;
    }

    .doctor-info-block .right-block h3.name{
        font-size:22px;
        line-height:30px;
    }

    .doctor-info-block .right-block .prof{
        font-size:16px;
    }

    .doctor-order-form > form .form-item{
        margin-bottom:20px;
    }

    .doctor-order-form > form .form-item > i{
        left:4px;
    }

    .doctor-order-form > form .form-item.item-1 > i{
        background-image:url('../img/pics/ipad/of-1.png');
        background-position:0 0;
        width:45px;
        height:45px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-2 > i{
        background-image:url('../img/pics/ipad/of-2.png');
        background-position:0 0;
        width:46px;
        height:45px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-3 > i{
        background-image:url('../img/pics/ipad/of-3.png');
        background-position:0 0;
        width:46px;
        height:45px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-3{margin-bottom:100px;}

    .doctor-order-form > form .form-item input[type="text"], 
    .doctor-order-form > form .form-item input[type="tel"], 
    .doctor-order-form > form .form-item textarea{
        font-size:20px;
        padding:12px 10px 13px 60px;
        border-radius:30px;
    }

    .doctor-order-form > form .form-item textarea{height:140px!important;}

    .send-button-wrap > a > i{
        background-image:url('../img/pics/ipad/check-white.png');
        background-position:0 0;
        width:22px;
        height:32px;
        background-repeat:no-repeat;
        right:28px;
        top:9px;
    }

    #doctor-form .doctor-order-form i.doctor-bottom{
        background-image:url('../img/pics/ipad/doctor-order-bottom.png');
        background-position:0 0;
        width:155px;
        height:202px;
        background-repeat:no-repeat;
        right:158px;
        left:auto;
        bottom:75px;
    }

    .send-button-wrap{
        border-width:4px;
        border-radius:35px;
        margin-bottom:28px;
    }

    .send-button-wrap > a{
        border-width:3px;
        font-size:22px;
        padding:20px 68px 20px 30px;
        border-radius:35px;
    } 

    #doctor-form .call-us > strong{
        font-size:22px;
        letter-spacing:-1px;
    }

    #doctor-form .call-us > span{
        font-size:18px;
    }

    #doctor-form a.link-to-site{
        font-size:17px;
    }

    #doctor-form .call-us{
        padding:28px 0 28px 38px;
        margin-bottom:30px;
    }

    #doctor-form .call-us > i.iphone-bg{top:28px;}

    /*------------------------------------ Sidebar ---------------------------------------*/

    .ui-panel-page-content-open.ui-panel-position-right{
        margin-right:500px;
        right:500px;
    }

    .ui-panel.ui-panel-open{
        width:500px;
    }

    .ui-panel-animate.ui-panel-page-content-position-right {
        left: 0;
        right: 0;
        -webkit-transform: translate3d(-500px,0,0);
        -moz-transform: translate3d(-500px,0,0);
        transform: translate3d(-500px,0,0);
    }

    .rightPanel{height:100%;}

    .rightPanel .ui-panel-inner{
        padding:30px 0 40px 35px;
        position:relative;
        min-height:100%;
    }

    .rightPanel .ui-panel-inner .aside-header{
        padding-right:30px;
        margin-bottom:25px;
    }

    .rightPanel .ui-panel-inner .aside-header .logo-small{
        background-image:url('../img/pics/ipad/logo-aside.png');
        background-position:0 0;
        width:123px;
        height:42px;
        background-repeat:no-repeat;
    }

    .aside-description{
        padding-right:50px;
        margin-bottom:30px;
    }

    .aside-description p{
        font-size:16px;
        line-height:24px;
    }

    .aside-block > strong:first-child{
        font-size:18px;
        margin-bottom:16px;
    }

    .aside-block ul li{
        font-size:18px;
    }

    .aside-block ul li a, 
    .aside-block ul li a:hover, 
    .aside-block ul li a:active, 
    .aside-block ul li a:visited {
        padding:22px 50px 22px 20px;
    }

    .aside-foo{
        position:absolute;
        left:35px;
        bottom:0;
        padding-bottom:40px;
    }

    .aside-foo a{
        font-size:18px;
        margin-left:0;
        letter-spacing:-.5px;
    }

    .aside-block ul li i{
        background-image:url('../img/pics/ipad/aside-arrow.png');
        background-position:0 0;
        width:15px;
        height:27px;
        background-repeat:no-repeat;
        margin-top:-13.5px;
        right:30px;
    }

    /*------------------------------------ Map Page --------------------------------------*/

    .panel-btn{
        background-image:url('../img/pics/ipad/menu_btn.png');
        background-position:100% 50%;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
        margin-top:-20px;
    }

    a.close-map{
        background-image:url('../img/pics/ipad/close_map_btn.png');
        background-position:0 0;
        width:47px;
        height:46px;
        background-repeat:no-repeat;
        top:26px;
        right:24px;
    }

    .infobox-inn{
        width:310px;
        margin-left:-50px;
    }

    .infobox-inn .right-block{
        padding:14px 5px 14px 14px;
    }

    #infobox i.triangle{
        margin-left:-45px;
    }

    .infobox-inn .right-block strong,
    .infobox-inn .right-block em{font-size:16px;}

    .infobox-inn .right-block strong{margin-bottom:6px;}

    #map-page div[data-role='footer'] .w-500{
        float:right;
        padding-right:14px;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn{
        float:left;
        border-width:4px;
        border-radius:40px;
        margin-right:18px;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn > a{
        font-size:22px;
        line-height:22px;
        padding:20px 80px 20px 30px;
        border-width:3px;
        border-radius:40px;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn > a > i{
        background-image:url('../img/pics/ipad/envelope-white.png');
        background-position:0 0;
        width:41px;
        height:17px;
        background-repeat:no-repeat;
        top:22px;
        right:23px;
    }

    .call-doctor-btn{
        border-width:4px;
    }

    .call-doctor-btn > a{
        width:66px;
        height:66px;
    }

    .call-doctor-btn > a > i{
        background-image:url('../img/pics/ipad/phone-white.png');
        background-position:0 0;
        width:27px;
        height:27px;
        background-repeat:no-repeat;
        margin-left:-13.5px;
        margin-top:-13.5px;
    }

    /*---------------------------------- Filter Pages ------------------------------------*/

    div.fixed[data-role='header']{
        padding:0 30px;
    }

    .fixed-inn{padding:22px 0;}

    .fixed .fixed-inn > strong{font-size:27px;}

    .fixed .fixed-inn .back-link{
        background-image:url('../img/pics/ipad/back-link-bg.png');
        background-position:0 50%;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
        margin-top:-20px;
    }

    .fixed form.ui-filterable > i{
        background-image:url('../img/pics/ipad/lupa-orange.png');
        background-position:0 0;
        width:30px;
        height:30px;
        background-repeat:no-repeat;
        top:33px;
        right:185px;
    }

    .c-content ul[data-role='listview'] li > i{
        background-image:url('../img/pics/ipad/gray-right-arrow.png');
        background-position:0 0;
        width:15px;
        height:28px;
        background-repeat:no-repeat;
        margin-top:-14px;
        right:30px;
    }

    .fixed form.ui-filterable input{
        font-size:20px;
        border-width:3px;
        padding:0 60px 0 30px;
        height:47px;
        line-height:47px;
    }

    .fixed form.ui-filterable{
        padding:25px 167px 8px 167px;
    }

    .ui-content.c-content{
        padding-left:72px;
    }

    .c-content ul[data-role='listview'] li{
        padding:15px 105px 15px 0;
    }

    .c-content ul[data-role='listview'] li.ui-li-divider{
        font-size:18px;
        padding:12px 0;
    }

    .c-content ul[data-role='listview'] li.ui-li-divider:first-child{padding-top:0;}

    .c-content ul[data-role='listview'] li > strong{
        font-size:20px;
    }

    .c-content ul[data-role='listview'] li > span{
        font-size:14px;
    }

    .c-content ul[data-role='listview'] li > em{
        font-size:14px;
        right:58px;
        top:10px;
    }

    #select-metro .c-content ul[data-role='listview'] li{
        padding-top:23px;
        padding-bottom:23px;
    }

    #select-metro .c-content ul[data-role='listview'] li.ui-li-divider{
        font-size:18px;
        padding:12px 0;
    }

    #select-metro .c-content ul[data-role='listview'] li.ui-li-divider:first-child{padding-top:0;}

    /*---------------------------------- Index Page ----------------------------------*/

    #index-page div[data-role='header']{
        padding-top:1em;
    }

    .city-dropdown-wrapper span:first-child{
        font-size:16px;
    }

    .index-img-wrapper{
        margin-top:0;
    }

    .index-img-wrapper i{
        background-image:url('../img/pics/ipad/logo.png');
        background-position:0 0;
        width:215px;
        height:74px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing{
        padding-top:46px;
        max-width:none;
        padding-right:0;
    }

    #index-page .ui-content{
        padding-top:24px;
    }

    #index-page ul.items-listing li strong{
        font-size:18px;
    }

    #index-page ul.items-listing li span{
        font-size:13px;
    }

    #index-page div[data-role='footer'] > i{
        background-image:url('../img/pics/ipad/doctor_image_bottom.png');
        background-position:0 0;
        width:123px;
        height:265px;
        background-repeat:no-repeat;
        right:-3px;
        bottom:-45px;
    }

    #index-page ul.items-listing li{padding-left:32px;}

    #index-page ul.items-listing li.item-1 i{
        background-image:url('../img/pics/ipad/note-icon.png');
        background-position:0 0;
        width:22px;
        height:28px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-2 i{
        background-image:url('../img/pics/ipad/doctors-icon.png');
        background-position:0 0;
        width:26px;
        height:32px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-3 i{
        background-image:url('../img/pics/ipad/reviews-icon.png');
        background-position:0 0;
        width:22px;
        height:27px;
        background-repeat:no-repeat;
    }

    #index-page div[data-role='footer'] .call-us i.iphone-bg,
    #doctor-form .call-us i.iphone-bg{
        background-image:url('../img/pics/ipad/iphone.png');
        background-position:0 0;
        width:24px;
        height:39px;
        background-repeat:no-repeat;
    }

    .f-s a span{
        background-image:url('../img/pics/ipad/spec.png');
        background-position:0 0;
        width:43px;
        height:43px;
        background-repeat:no-repeat;
    }

    .f-m a span{
        background-image:url('../img/pics/ipad/metro.png');
        background-position:0 0;
        width:43px;
        height:43px;
        background-repeat:no-repeat;
    }

    .find-doctor a.ui-link i{
        background-image:url('../img/pics/ipad/lupa-white.png');
        background-position:0 0;
        width:30px;
        height:30px;
        background-repeat:no-repeat;
        right:24px;
        top:13px;
    }

    .index-main-block > h3:first-child{
        font-size:28px;
        padding-top:28px;
        padding-bottom:8px;
    }

    .imb-content p{
        font-size:18px;
        line-height:23px;
        margin-bottom:30px;
    }

    .imb-content{
        padding:28px 30px 30px 30px;
        margin-bottom:30px;
    }

    .ui-page-theme-a .top-index-link a{
        font-size:20px;
        padding:16px 60px;
    }

    .ui-page-theme-a .top-index-link a span{top:4.5px;}

    .top-index-link a i{border-width:7px;}

    .top-index-link{border-radius:26px;}

    .top-index-link a i{right:20px;top:23px;}

    .f-s{margin-bottom:20px;}

    .find-doctor a.ui-link{
        font-size:22px;
        border-width:3px;
        padding:20px 0 20px 50px;
        border-radius:45px;
        letter-spacing:3px;
    }

    .find-doctor{
        margin:0 30px;
        border-width:5px;
        border-radius:45px;
    }

    #index-page div[data-role='footer']{
        padding-top:40px;
        padding-bottom:40px;
    }

    #index-page div[data-role='footer'] .call-us{
        padding:25px 0 25px 40px;
        margin:4px 145px 40px 0;
    }

    #index-page div[data-role='footer'] .call-us > strong{font-size:22px;}

    #index-page div[data-role='footer'] .call-us i.iphone-bg{top:25px;}

    #index-page div[data-role='footer'] .call-us > span{font-size:18px;}

    #index-page div[data-role='footer'] a.link-to-site{
        font-size:17px;
        letter-spacing:-.5px;
    }


}