@media only screen and (min-width: 500px){

    .ui-page {
        width:500px!important;
        margin:0 auto!important;
        position:relative!important;  	
    }

    .fixed form.ui-filterable{
        width:500px;
        margin:0 auto;
        position:relative;
        left:16px;
    }

    #index-page div[data-role="header"]{
        position:fixed;
        width:100%;
        left:0;
        top:0;
        padding-top:1em;
    }

    .index-img-wrapper{
        margin-top:0;
    }

    .w-500{
        width:500px;
        margin-left:auto;
        margin-right:auto;
    }

    .ui-panel-page-content-open{
        width:47%;
        min-width:320px;
        left:53%!important;
    }

    #index-page ul.items-listing{
        padding-top:1.5em;
    }

    #index-page .ui-content{
        padding:1.5em 1em;
    }

    .index-main-block > h3:first-child{
        padding:1em 0;
    }

    .imb-content{
        padding:1.5em 1em 1.7em 1em;
        margin-bottom:20px;
    }

    .imb-content p{
        margin-bottom:1.5em;
    }

    .f-s{margin-bottom:20px;}

    .vertical-center{
        position:absolute;
        top:50%;
    }

}