@media only screen and (min-width: 500px){

    .ui-page {
        width:500px!important;
        margin:0 auto!important;
        position:relative!important;  	
    }

    .ui-header-fixed, .ui-footer-fixed{
        position:relative!important;
    }

    .ui-page-header-fixed{
        padding-top:0!important;
    }

    .panel-btn{
        display:none!important;
    }
    
}