@media only screen and (min-width: 500px){

    .ui-page {
        width:500px!important;
        margin:0 auto!important;
        position:relative!important;  	
    }

    .panel-btn{
        display:none!important;
    }

    .fixed form.ui-filterable{
        width:500px;
        margin:0 auto;
        position:relative;
        left:16px;
    }

}