@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2){

	.index-img-wrapper i{
    	background-image:url('../img/retina/ipad/logo.png');
    	background-position:0 0;
    	width:214.5px;
    	height:73.5px;
    	background-size:214.5px 73.5px;
    	background-repeat:no-repeat;
    }

    #index-page div[data-role="footer"] > i{
    	background-image:url('../img/retina/ipad/doctor_image_bottom.png');
    	background-position:0 0;
    	background-size:123px 264.5px;
    	width:123px;
    	height:264.5px;
    	background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-1 i{
    	background-image:url('../img/retina/ipad/note-icon.png');
    	background-position:0 0;
    	background-size:21.5px 27.5px;
    	width:21.5px;
    	height:27.5px;
    	background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-2 i{
    	background-image:url('../img/retina/ipad/doctors-icon.png');
    	background-position:0 0;
    	background-size:22.5px 27.5px;
    	width:22.5px;
    	height:27.5px;
    	background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-3 i{
    	background-image:url('../img/retina/ipad/reviews-icon.png');
    	background-position:0 0;
    	background-size:21.5px 27px;
    	width:21.5px;
    	height:27px;
    	background-repeat:no-repeat;
    }

    #index-page div[data-role="footer"] .call-us i.iphone-bg{
    	background-image:url('../img/retina/ipad/iphone.png');
    	background-position:0 0;
    	background-size:23.5px 38.5px;
    	width:23.5px;
    	height:38.5px;
    	background-repeat:no-repeat;
    }

    .f-s a span{
    	background-image:url('../img/retina/ipad/spec.png');
    	background-position:0 0;
    	background-size:43px 43px;
    	width:43px;
    	height:43px;
    	background-repeat:no-repeat;
    }

    .f-m a span{
    	background-image:url('../img/retina/ipad/metro.png');
    	background-position:0 0;
    	background-size:43px 43px;
    	width:43px;
    	height:43px;
    	background-repeat:no-repeat;
    }

    .find-doctor a.ui-link i{
    	background-image:url('../img/retina/ipad/lupa-white.png');
    	background-position:0 0;
    	background-size:29.5px 30px;
    	width:29.5px;
    	height:30px;
    	background-repeat:no-repeat;
    }

}