@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2){

	.index-img-wrapper i{
    	background-image:url('../img/retina/ipad/logo.png');
    	background-position:0 0;
    	width:214.5px;
    	height:73.5px;
    	background-size:214.5px 73.5px;
    	background-repeat:no-repeat;
    }

    #index-page div[data-role='footer'] > i{
    	background-image:url('../img/retina/ipad/doctor_image_bottom.png');
    	background-position:0 0;
    	background-size:123px 264.5px;
    	width:123px;
    	height:264.5px;
    	background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-1 i{
    	background-image:url('../img/retina/ipad/note-icon.png');
    	background-position:0 0;
    	background-size:21.5px 27.5px;
    	width:21.5px;
    	height:27.5px;
    	background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-2 i{
    	background-image:url('../img/retina/ipad/doctors-icon.png');
    	background-position:0 0;
    	background-size:22.5px 27.5px;
    	width:22.5px;
    	height:27.5px;
    	background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-3 i{
    	background-image:url('../img/retina/ipad/reviews-icon.png');
    	background-position:0 0;
    	background-size:21.5px 27px;
    	width:21.5px;
    	height:27px;
    	background-repeat:no-repeat;
    }

    #index-page div[data-role="footer"] .call-us i.iphone-bg,
    #doctor-form .call-us i.iphone-bg{
    	background-image:url('../img/retina/ipad/iphone.png');
    	background-position:0 0;
    	background-size:23.5px 38.5px;
    	width:23.5px;
    	height:38.5px;
    	background-repeat:no-repeat;
    }

    .f-s a span{
    	background-image:url('../img/retina/ipad/spec.png');
    	background-position:0 0;
    	background-size:43.5px 43.5px;
    	width:43.5px;
    	height:43.5px;
    	background-repeat:no-repeat;
    }

    .f-m a span{
    	background-image:url('../img/retina/ipad/metro.png');
    	background-position:0 0;
    	background-size:43.5px 43.5px;
    	width:43.5px;
    	height:43.5px;
    	background-repeat:no-repeat;
    }

    .find-doctor a.ui-link i{
    	background-image:url('../img/retina/ipad/lupa-white.png');
    	background-position:0 0;
    	background-size:29.5px 30px;
    	width:29.5px;
    	height:30px;
    	background-repeat:no-repeat;
    }

    .fixed .fixed-inn .back-link{
        background-image:url('../img/retina/ipad/back-link-bg.png');
        background-position:0 50%;
        background-size:31px 21.5px;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
    }

    .fixed form.ui-filterable > i{
        background-image:url('../img/retina/ipad/lupa-orange.png');
        background-position:0 0;
        background-size:29.5px 30px;
        width:30px;
        height:30px;
        background-repeat:no-repeat;
    }

    .c-content ul[data-role='listview'] li > i{
        background-image:url('../img/retina/ipad/gray-right-arrow.png');
        background-position:0 0;
        background-size:14.5px 27.5px;
        width:14.5px;
        height:27.5px;
        background-repeat:no-repeat;
    }

    .panel-btn{
        background-image:url('../img/retina/ipad/menu_btn.png');
        background-position:100% 50%;
        background-size:29.5px 19px;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
    }

    a.close-map{
        background-image:url('../img/retina/ipad/close_map_btn.png');
        background-position:0 0;
        background-size:46.5px 46px;
        width:46.5px;
        height:46px;
        background-repeat:no-repeat;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn > a > i,
    #page-doctor div[data-role='footer'] .to-form-doctor-btn > a > i{
        background-image:url('../img/retina/ipad/envelope-white.png');
        background-position:0 0;
        background-size:40.5px 17px;
        width:40.5px;
        height:17px;
        background-repeat:no-repeat;
    }

    .call-doctor-btn > a > i{
        background-image:url('../img/retina/ipad/phone-white.png');
        background-position:0 0;
        background-size:27.5px 27.5px;
        width:27.5px;
        height:27.5px;
        background-repeat:no-repeat;
    }

    .rightPanel .ui-panel-inner .aside-header .logo-small{
        background-image:url('../img/retina/ipad/logo-aside.png');
        background-position:0 0;
        background-size:122.5px 42px;
        width:122.5px;
        height:42px;
        background-repeat:no-repeat;
    }

    .aside-block ul li i{
        background-image:url('../img/retina/ipad/aside-arrow.png');
        background-position:0 0;
        background-size:14.5px 27px;
        width:14.5px;
        height:27px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-1 > i{
        background-image:url('../img/retina/ipad/of-1.png');
        background-position:0 0;
        background-size:45px 45px;
        width:45px;
        height:45px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-2 > i{
        background-image:url('../img/retina/ipad/of-2.png');
        background-position:0 0;
        background-size:45.5px 45px;
        width:45.5px;
        height:45px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-3 > i{
        background-image:url('../img/retina/ipad/of-3.png');
        background-position:0 0;
        background-size:45.5px 45px;
        width:45.5px;
        height:45px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item > i{top:5px;}

    .send-button-wrap > a > i{
        background-image:url('../img/retina/ipad/check-white.png');
        background-position:0 0;
        background-size:22px 31.5px;
        width:22px;
        height:31.5px;
        background-repeat:no-repeat;
    }

    #doctor-form .doctor-order-form i.doctor-bottom{
        background-image:url('../img/retina/ipad/doctor-order-bottom.png');
        background-position:0 0;
        background-size:155.5px 202.5px;
        width:155.5px;
        height:202.5px;
        background-repeat:no-repeat;
    }

    .order-success-content > i.success-check{
        background-image:url('../img/retina/ipad/success-check.png');
        background-position:0 0;
        background-size:71px 71px;
        width:71px;
        height:71px;
        background-repeat:no-repeat;
    }

    a.close-btn{
        background-image:url('../img/retina/ipad/close-btn.png');
        background-position:0 50%;
        background-size:21px 21px;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
    }

    .link-to-favorites i{
        background-image:url('../img/retina/ipad/favorite-bg.png');
        background-position:0 0;
        background-size:28px 20px;
        width:28px;
        height:20px;
        background-repeat:no-repeat;
    }

    #order-success .success-block i.doctor-bottom,
    #review-success .success-block i.doctor-bottom,
    #order-error .success-block i.doctor-bottom,
    #review-error .success-block i.doctor-bottom{
        background-image:url('../img/retina/ipad/doctor-success-bottom.png');
        background-position:0 0;
        background-size:110px 201px;
        width:110px;
        height:201px;
        background-repeat:no-repeat;
    }

    #order-error .order-success-content > i.success-check, 
    #review-error .order-success-content > i.success-check{
        background-image:url('../img/retina/ipad/error-bg.png');
        background-position:0 0;
        background-size:71px 71px;
        width:71px;
        height:71px;
        background-repeat:no-repeat;
    }

    .send-review-form .form-item.item-1 > i{
        background-image:url('../img/retina/ipad/fr-1.png');
        background-position:0 0;
        background-size:43px 42.5px;
        width:43px;
        height:42.5px;
        background-repeat:no-repeat;
        top:5.5px;
    }

    .send-review-form .form-item.item-2 > i{
        background-image:url('../img/retina/ipad/fr-2.png');
        background-position:0 0;
        background-size:43px 42.5px;
        width:43px;
        height:42.5px;
        background-repeat:no-repeat;
        top:5.5px;
    }

    .send-review-form .form-item.item-4 > i{
        background-image:url('../img/retina/ipad/fr-3.png');
        background-position:0 0;
        background-size:43px 43px;
        width:43px;
        height:43px;
        background-repeat:no-repeat;
        top:5.5px;
    }

    .send-review-btn-block > a > i{
        background-image:url('../img/retina/ipad/check-white.png');
        background-position:0 0;
        background-size:22px 31.5px;
        width:22px;
        height:31.5px;
        background-repeat:no-repeat;
    }

    .range-wrap div.ui-slider .ui-slider-track{
        background-image:url('../img/retina/ipad/rating-empty.png');
        background-position:0 0;
        background-size:155px 22px;
        width:155px;
        height:22px;
        background-repeat:no-repeat;
    }

    .range-wrap .ui-btn-active{
        background-image:url('../img/retina/ipad/rating-full.png');
        background-position:0 0;
        background-size:155px 22px;
        width:155px;
        height:22px;
        background-repeat:no-repeat;
    }

    .top-sort-block .location-link{
        background-image:url('../img/retina/ipad/orange-location.png');
        background-position:0 0;
        background-size:18px 27px;
        width:18px;
        height:27px;
        background-repeat:no-repeat;
    }

     .list-of-doctors > li > a .left-block .rating-wrap ul li.full,
     #page-doctor .doctor-info-block .left-block .rating-wrap ul li.full,
     .total-review-block > .item > ul > li.full,
    .list-of-reviews > ul > li .items-wrapper .item ul > li.full{
        background-image:url('../img/retina/ipad/list-doctor-full-star.png');
        background-size:13px 12.5px;
        width:13px;
        height:12.5px;
     }

    .list-of-doctors > li > a .left-block .rating-wrap ul li.empty,
    #page-doctor .doctor-info-block .left-block .rating-wrap ul li.empty,
    .total-review-block > .item > ul > li.empty,
    .list-of-reviews > ul > li .items-wrapper .item ul > li.empty{
        background-image:url('../img/retina/ipad/list-doctor-empty-star.png');
        background-size:13px 12.5px;
        width:13px;
        height:12.5px;
    }

    .list-of-doctors > li > a .left-block .rating-wrap ul{padding-top:1px;}

    .list-of-doctors > li > a > i{
        background-image:url('../img/retina/ipad/list-doctor-arrow.png');
        background-size:14.5px 27.5px;
        width:14.5px;
        height:27.5px;
    }

    .address-wrap > i:first-child{
        background-image:url('../img/retina/ipad/location-green.png');
        background-size:14px 19px;
        width:14px;
        height:19px;
    }

    .doctor-info-block .metro-wrap > i:first-child{
        background-image:url('../img/retina/ipad/metro-bg.png');
        background-size:16.5px 13.5px;
        width:16.5px;
        height:13.5px;
        top:1px;
    }

    .doctor-info-block .right-block a.link-to-map{
        background-image:url('../img/retina/ipad/orange-location.png');
        background-size:18px 27px;
    }

    strong.img-1 i{
        background-image:url('../img/retina/ipad/skill-1.png');
        background-size:21px 18.5px;
        width:21px;
        height:18.5px;
    }

    strong.img-2 i{
        background-image:url('../img/retina/ipad/skill-2.png');
        background-size:21.5px 20px;
        width:21.5px;
        height:20px;
    }

    strong.img-3 i{
        background-image:url('../img/retina/ipad/skill-3.png');
        background-size:21.5px 9.5px;
        width:21.5px;
        height:9.5px;
    }

    strong.img-4 i{
        background-image:url('../img/retina/ipad/skill-4.png');
        background-size:21.5px 27px;
        width:21.5px;
        height:27px;
    }

    strong.img-1{padding-top:1px;}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2){

    .index-img-wrapper i{
        background-image:url('../img/retina/ipad/logo-h.png');
        background-position:0 0;
        width:154px;
        height:53px;
        background-size:154px 53px;
        background-repeat:no-repeat;
    }

    #index-page div[data-role='footer'] > i{
        background-image:url('../img/retina/ipad/doctor_image_bottom-h.png');
        background-position:0 0;
        background-size:88px 189.5px;
        width:88px;
        height:189.5px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-1 i{
        background-image:url('../img/retina/ipad/note-icon-h.png');
        background-position:0 0;
        background-size:15.5px 19.5px;
        width:15.5px;
        height:19.5px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-2 i{
        background-image:url('../img/retina/ipad/doctors-icon-h.png');
        background-position:0 0;
        background-size:16px 19.5px;
        width:16px;
        height:19.5px;
        background-repeat:no-repeat;
    }

    #index-page ul.items-listing li.item-3 i{
        background-image:url('../img/retina/ipad/reviews-icon-h.png');
        background-position:0 0;
        background-size:15.5px 19.5px;
        width:15.5px;
        height:19.5px;
        background-repeat:no-repeat;
    }

    .f-s a span{
        background-image:url('../img/retina/ipad/spec-h.png');
        background-position:0 0;
        background-size:31px 31px;
        width:31px;
        height:31px;
        background-repeat:no-repeat;
        top:3.5px;
    }

    .f-m a span{
        background-image:url('../img/retina/ipad/metro-h.png');
        background-position:0 0;
        background-size:31px 31px;
        width:31px;
        height:31px;
        background-repeat:no-repeat;
        top:3.5px;
    }

    .find-doctor a.ui-link i{
        background-image:url('../img/retina/ipad/lupa-white-h.png');
        background-position:0 0;
        background-size:21.5px 21.5px;
        width:21.5px;
        height:21.5px;
        background-repeat:no-repeat;
    }

    #index-page div[data-role="footer"] .call-us i.iphone-bg{
        background-image:url('../img/retina/ipad/iphone-h.png');
        background-position:0 0;
        background-size:17px 27.5px;
        width:17px;
        height:27.5px;
        background-repeat:no-repeat;
    }

    .fixed .fixed-inn .back-link{
        background-image:url('../img/retina/ipad/back-link-bg-h.png');
        background-position:0 50%;
        background-size:22px 15.5px;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
    }

    .fixed form.ui-filterable > i{
        background-image:url('../img/retina/ipad/lupa-orange-h.png');
        background-position:0 0;
        background-size:21.5px 21.5px;
        width:21.5px;
        height:21.5px;
        background-repeat:no-repeat;
    }

    .c-content ul[data-role='listview'] li > i{
        background-image:url('../img/retina/ipad/gray-right-arrow-h.png');
        background-position:0 0;
        background-size:10.5px 19.5px;
        width:10.5px;
        height:19.5px;
        background-repeat:no-repeat;
    }

    .panel-btn{
        background-image:url('../img/retina/ipad/menu_btn-h.png');
        background-position:100% 50%;
        background-size:21px 13.5px;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
    }

    a.close-map{
        background-image:url('../img/retina/ipad/close_map_btn-h.png');
        background-position:50% 50%;
        background-size:33px 33px;
        width:40px;
        height:40px;
        background-repeat:no-repeat;
    }

    #map-page div[data-role='footer'] .to-form-doctor-btn > a > i{
        background-image:url('../img/retina/ipad/envelope-white-h.png');
        background-position:0 0;
        background-size:29px 12px;
        width:29px;
        height:12px;
        background-repeat:no-repeat;
    }

    .call-doctor-btn > a > i{
        background-image:url('../img/retina/ipad/phone-white-h.png');
        background-position:0 0;
        background-size:20px 20px;
        width:20px;
        height:20px;
        background-repeat:no-repeat;
    }

    .rightPanel .ui-panel-inner .aside-header .logo-small{
        background-image:url('../img/retina/ipad/logo-aside-h.png');
        background-position:0 0;
        background-size:88px 30px;
        width:88px;
        height:30px;
        background-repeat:no-repeat;
    }

    .aside-block ul li i{
        background-image:url('../img/retina/ipad/aside-arrow-h.png');
        background-position:0 0;
        background-size:11px 20px;
        width:11px;
        height:20px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-1 > i{
        background-image:url('../img/retina/ipad/of-1-h.png');
        background-position:0 0;
        background-size:33.5px 33px;
        width:33.5px;
        height:33px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-2 > i{
        background-image:url('../img/retina/ipad/of-2-h.png');
        background-position:0 0;
        background-size:33.5px 33px;
        width:33.5px;
        height:33px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item.item-3 > i{
        background-image:url('../img/retina/ipad/of-3-h.png');
        background-position:0 0;
        background-size:33px 33px;
        width:33px;
        height:33px;
        background-repeat:no-repeat;
    }

    .doctor-order-form > form .form-item > i{top:5px;}

    .send-button-wrap > a > i{
        background-image:url('../img/retina/ipad/check-white-h.png');
        background-position:0 0;
        background-size:16px 22.5px;
        width:16px;
        height:22.5px;
        background-repeat:no-repeat;
    }

    #doctor-form .doctor-order-form i.doctor-bottom{
        background-image:url('../img/retina/ipad/doctor-order-bottom-h.png');
        background-position:0 0;
        background-size:111.5px 145px;
        width:111.5px;
        height:145px;
        background-repeat:no-repeat;
    }

    .order-success-content > i.success-check{
        background-image:url('../img/retina/ipad/success-check-h.png');
        background-position:0 0;
        background-size:51px 51.5px;
        width:51px;
        height:51.5px;
        background-repeat:no-repeat;
    }

    a.close-btn{
        background-image:url('../img/retina/ipad/close-btn-h.png');
        background-position:0 50%;
        background-size:15px 15px;
        background-repeat:no-repeat;
    }

    .link-to-favorites i{
        background-image:url('../img/retina/ipad/favorite-bg-h.png');
        background-position:0 0;
        background-size:20px 14.5px;
        width:20px;
        height:14.5px;
        background-repeat:no-repeat;
    }

    #order-success .success-block i.doctor-bottom,
    #review-success .success-block i.doctor-bottom,
    #order-error .success-block i.doctor-bottom,
    #review-error .success-block i.doctor-bottom{
        background-image:url('../img/retina/ipad/doctor-success-bottom-h.png');
        background-position:0 0;
        background-size:79px 144px;
        width:79px;
        height:144px;
        background-repeat:no-repeat;
    }

    

}