#calling-page
	background-color #403b3b

#calling-page .fixed-inn
	border none

#calling-page div[data-role='footer'] .w-500 > a
	display block
	background-color #ff2a1b
	color #fff
	margin-bottom 60px
	text-align center
	font-size 27px