#doctor-form .doctor-info-block .left-block img
	margin-bottom 0

#doctor-form .doctor-info-block
	padding-left 20px

.doctor-order-form > form 
	display block
	overflow hidden
	padding 4px 20px 0 20px 

.doctor-order-form > form .form-item
	position relative
	clear both
	overflow hidden
	margin-bottom 10px

.doctor-order-form > form .form-item > i
	display block
	position absolute
	top 4px 
	left 5px

.doctor-order-form > form .form-item.item-1 > i
	sprite($s-form-icon-1)

.doctor-order-form > form .form-item.item-2 > i
	sprite($s-form-icon-2)

.doctor-order-form > form .form-item.item-3 > i
	sprite($s-form-icon-3)

.doctor-order-form > form .form-item input[type='text'],
.doctor-order-form > form .form-item input[type='tel'],
.doctor-order-form > form .form-item textarea
	background-color #fff
	border 1px solid #bfbfbf
	margin 0
	color #000
	font-family 'Circe-regular'
	font-size 13px
	text-shadow none
	box-shadow(none)
	padding 8.5px 10px 9px 40px
	border-radius 20px

.doctor-order-form > form .form-item textarea
	resize none
	min-height 90px

.doctor-order-form > form .form-item.item-3
	margin-bottom 35px

.send-button-wrap
	position relative
	overflow hidden
	clear both
	float left
	border 3px solid #e9d9d3
	border-radius 28px

.send-button-wrap > button 
	text-decoration none
	text-transform uppercase
	border 2px solid #cd4005
	background #fc5512
	float left
	font-size 15px
	line-height 15px
	position relative
	padding 13px 50px 13px 17px
	letter-spacing 1px
	border-radius 26px
	font-family 'Circe-regular'
	color #fff
	cursor pointer
	margin 0

#doctor--form .doctor-order-form
	position relative

#doctor--form .doctor-order-form i.doctor-bottom
	display block
	position absolute
	left 0
	bottom 0


