#doctor-form .doctor-info-block .left-block img
	margin-bottom 0

#doctor-form .doctor-info-block
	padding-left 20px

.doctor-order-form > form .form-item
	position relative
	clear both
	overflow hidden
	margin-bottom 10px

.doctor-order-form > form .form-item > i
	display block
	position absolute
	top 4px 
	left 5px

.doctor-order-form > form .form-item.item-1 > i
	sprite($s-form-icon-1)

.doctor-order-form > form .form-item.item-2 > i
	sprite($s-form-icon-2)

.doctor-order-form > form .form-item.item-3 > i
	sprite($s-form-icon-3)

.doctor-order-form > form .form-item input[type='text'],
.doctor-order-form > form .form-item input[type='tel'],
.doctor-order-form > form .form-item textarea
	background-color #fff
	border 1px solid #bfbfbf
	margin 0
	color #000
	font-family 'Circe-regular'
	font-size 13px
	text-shadow none
	box-shadow(none)
	padding 8.5px 10px 9px 40px
	border-radius 20px
	-webkit-box-shadow none
	-moz-box-shadow none
	box-shadow none
	-webkit-appereance none

.doctor-order-form > form .form-item textarea
	resize none
	height 80px!important
	width 100%

.doctor-order-form > form .form-item input::-webkit-input-placeholder,
.doctor-order-form > form .form-item textarea::-webkit-input-placeholder
	color #000
	opacity 1

.doctor-order-form > form .form-item input::-moz-placeholder,
.doctor-order-form > form .form-item textarea::-moz-placeholder
	color #000
	opacity 1

.doctor-order-form > form .form-item input:-ms-input-placeholder,
.doctor-order-form > form .form-item textarea:-ms-input-placeholder
	color #000
	opacity 1

.doctor-order-form > form .form-item.item-3
	margin-bottom 20px

.send-button-wrap
	position relative
	overflow hidden
	clear both
	float left
	border 3px solid #e9d9d3
	border-radius 28px
	z-index 3

.send-button-wrap > a 
	text-decoration none
	text-transform uppercase
	border 2px solid #cd4005
	background #fc5512
	float left
	font-size 15px
	line-height 15px
	position relative
	padding 13px 40px 13px 17px
	letter-spacing 1px
	border-radius 26px
	font-family 'Circe-regular'
	color #fff
	cursor pointer
	margin 0
	position relative
	z-index 1

.send-button-wrap > a:hover,
.send-button-wrap > a:active,
.send-button-wrap > a:visited
	color #fff
	text-shadow none

.send-button-wrap > a > i
	display block
	position absolute
	top 10px
	right 20px
	sprite($s-check)

#doctor-form a.link-to-site 
	text-decoration underline!important
	background none
	border none
	text-shadow none
	box-shadow(none)
	display block
	margin 0
	padding 0
	color #29aaac
	font-size 11px
	font-family 'Circe-regular'
	text-align left
	text-overflow none
	overflow visible
	line-height 16px
	clear both

#doctor-form .call-us
	border-bottom 1px solid #bfbfbf
	position relative
	overflow hidden
	clear both
	padding 14px 0 15px 25px
	margin 0 0 10px 0
	float left

#doctor-form .call-us > strong
	display block
	clear both
	color #000
	font-family 'Circe-bold'
	font-size 14px
	margin-bottom 1px

#doctor-form .call-us > span
	display block
	clear both
	font-size 12px

#doctor-form .call-us > span > a
	text-decoration none

#doctor-form .call-us i.iphone-bg
	display block
	position absolute
	left 0
	top 14px
	sprite($s-iphone-bg)

#doctor-form .doctor-order-form
	position relative
	padding-right 36px
	padding-left 36px

#doctor-form .doctor-order-form i.doctor-bottom
	display block
	position absolute
	left 210px
	bottom 30px
	sprite($s-doctor-form)


