#find-doctor div[data-role='footer']
	background-color #fff
	padding 0 1em

div[data-role='footer'] .fixed-inn
	position relative
	border-bottom none
	border-top 1px solid #dbdbdb
	overflow hidden

.panel-btn
	display block
	text-indent -9999em
	position absolute
	right 0
	top 1em
	sprite($s-menu_btn)

p.description
	margin 0
	font-size 11px
	line-height 15px

.top-sort-block
	background-color #fff
	padding 1em 0
	overflow hidden

.top-sort-block > .left-block 
	float left

.top-sort-block > .left-block > a
	color #fc5412
	text-decoration none
	border-bottom 2px dotted #fc5412
	font-size 14px

.top-sort-block > .left-block > span 
	display inline-block
	border-width 6px
	border-style solid
	border-color transparent
	border-top-color #fc5412
	position relative
	left 6px
	top 6px

.top-sort-block .location-link
	float right
	sprite($s-location_btn)

#rightPanel.ui-panel-position-right.ui-panel-display-reveal
	box-shadow(none)
