#find-doctor div[data-role='footer']
	background-color #fff
	padding 0 1em

div[data-role='footer'] .fixed-inn
	position relative
	border-bottom none
	border-top 1px solid #dbdbdb
	overflow hidden

div[data-role='footer'] .fixed-inn span
	text-transform uppercase
	font-size 15px

.panel-btn
	display block
	text-indent -9999em
	position absolute
	right 0
	top 1em
	sprite($s-menu_btn)

p.description
	margin 0
	font-size 11px
	line-height 15px

.top-sort-block
	background-color #fff
	padding 1em 0
	overflow hidden

.top-sort-block > .left-block 
	float left

.top-sort-block > .left-block > a
	color #fc5412
	text-decoration none
	border-bottom 2px dotted #fc5412
	font-size 14px

.top-sort-block > .left-block > span 
	display inline-block
	border-width 6px
	border-style solid
	border-color transparent
	border-top-color #fc5412
	position relative
	left 6px
	top 6px

.top-sort-block .location-link
	float right
	sprite($s-location_btn)

#rightPanel.ui-panel-position-right.ui-panel-display-reveal
	box-shadow(none)

.aside-foo
	position relative
	overflow hidden
	clear both
	padding .5em 1em 1.5em 0

.aside-foo a
	font-size 13px
	font-family 'Circe-bold'
	margin-left 12px

.aside-description
	position relative
	overflow hidden
	clear both
	padding-right 1em
	margin-bottom 1em

.aside-description p
	font-size 11px
	line-height 15px
	margin-bottom 5px

.aside-block 
	position relative
	overflow hidden
	clear both

.aside-block > strong:first-child
	display block
	clear both
	overflow hidden
	color #2cabad
	font-size 12px
	font-family 'Circe-bold'
	margin-bottom 12px

.aside-block ul,
.aside-block ul li
	position relative
	overflow hidden
	clear both

.aside-block ul li
	border-top 1px solid #d9d9d9
	font-size 13px
	
.aside-block ul li a,
.aside-block ul li a:hover,
.aside-block ul li a:active,
.aside-block ul li a:visited
	display block
	text-decoration none
	color #6f6f6f
	padding 15px 35px 15px 12px

#rightPanel .ui-panel-inner
	padding-right 0
	padding-bottom 0

.aside-header
	padding-right 1em
	position relative
	margin-bottom 1em
	display table
	width 100%

.aside-block ul li i
	display block
	sprite($s-arrow)
	position absolute
	top 50%
	margin-top -9px
	right 15px

.mb-15
	margin-bottom 15px

.logo-small
	float left
	sprite($s-logo_small)

.aside-header .city-dropdown-wrapper
	top 7px

.sort-doctor-wrapper
	float left

.sort-doctor-wrapper .ui-select
	margin 0

.sort-doctor-wrapper .ui-select .ui-btn
	background transparent none
	border none

.sort-doctor-wrapper .ui-select .ui-btn > span:first-child
	color #fc5412
	text-decoration none
	border-bottom 2px dotted #fc5412
	font-size 14px
	font-weight 400
	font-family 'Circe-regular'
