#index-page div[data-role='header'] 
	padding .5em 2em 0 2em
	display table
	width 100%

.city-dropdown-wrapper 
	float right
	position relative
	padding-right 15px

.city-dropdown-wrapper i
	position absolute 
	display block 
	right 0 
	top 6px 
	border-width 4px 
	border-style solid
	border-color transparent 
	border-top-color #29aaac

#index-page .city-dropdown-wrapper i
	top 8px

.city-dropdown-wrapper span:first-child 
	color #29aaac
	font-family 'Circe-Regular'
	display block 
	font-weight 400
	position relative 
	padding-bottom 2.5px
	border-bottom 1px dotted #29aaac
	font-size 12px
	cursor pointer

.city-dropdown-wrapper .ui-select
	margin 0

.city-dropdown-wrapper .ui-btn,
.city-dropdown-wrapper .ui-btn:hover
	background none
	border none
	text-shadow none
	right 0
	padding 0

.city-dropdown-wrapper .ui-btn:after
	right 0
	display none

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
	border none 
	background none 
	font-weight inherit 
	text-shadow none

.index-img-wrapper 
	position relative 
	overflow hidden 
	clear both 
	margin-top -10px

.index-img-wrapper i 
	display block 
	margin 0 auto 
	sprite($s-logo)

.top-index-link
	clear both 
	position relative 
	overflow hidden 
	border-radius 17px

.ui-page-theme-a .top-index-link a 
	background-color #29aaac 
	text-decoration none
	color #fff
	display block
	position relative
	padding 11px 40px
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	font-size 13px
	text-shadow none
	border-radius 17px

.top-index-link a i 
	display block
	position absolute
	border-width 5px 
	border-style solid
	border-color transparent
	border-top-color #fff
	right 12px
	top 15px

.top-index-link a span
	display block
	position absolute
	left 4px
	top 3px

.f-s a span 
	sprite($s-doctor-bg)
	
.f-m a span 
	sprite($s-metro-bg)

.index-main-block-wrapper
	position relative 
	overflow hidden
	clear both
	padding 0 1em

.imb-content
	position relative
	overflow hidden
	clear both
	margin-bottom 10px
	border-left 1px solid #bfbfbf
	border-right 1px solid #bfbfbf
	border-bottom 1px solid #bfbfbf
	border-radius 0 0 20px 20px
	padding 1em
	gradient(#fefefe, #fafafa, #fafafa)

.imb-content p 
	text-align center
	color #000
	font-size 12px
	line-height 15px
	margin-bottom 1.2em

.index-main-block > h3:first-child
	display block 
	clear both 
	overflow hidden
	border 1px solid #bfbfbf
	padding .5em 0 
	text-align center
	border-radius 20px 20px 0 0
	font-size 17px
	color #29aaac
	font-family 'Circe-bold'
	gradient(#fff, #fff, #fefefe) 

.f-s 
	margin-bottom 11px

.find-doctor
	position relative
	overflow hidden
	clear both
	margin 0 1em
	border 3px solid #e9dad5
	border-radius 28px

.find-doctor a.ui-link 
	text-decoration none
	display block
	text-transform uppercase
	text-shadow none
	color #fff
	border 2px solid #ce4417
	background-color #fe5822
	position relative
	padding 13px 0 12px 32px
	font-size 15px
	letter-spacing 1px
	border-radius 26px

.find-doctor a.ui-link i
	display block
	position absolute
	right 12px 
	top 8px
	sprite($s-lupa)

#index-page div[data-role='footer'] 
	position relative
	padding 5px 0 1em 3em
	
#index-page div[data-role='footer'] > i
	sprite($s-doctor_image_bottomm)
	display block 
	position absolute 
	right 10px  
	bottom -16px

#index-page div[data-role='footer'] a.link-to-site 
	text-decoration underline!important
	background none
	border none
	text-shadow none
	box-shadow(none)
	display block
	margin 0
	padding 0
	color #29aaac
	font-size 11px
	font-family 'Circe-regular'
	text-align left
	text-overflow none
	overflow visible
	line-height 16px

#index-page div[data-role='footer'] .call-us
	border-top 1px solid #bfbfbf
	border-bottom 1px solid #bfbfbf
	position relative
	overflow hidden
	clear both
	padding 14px 0 15px 25px
	margin 4px 80px 10px 0

#index-page div[data-role='footer'] .call-us > strong
	display block
	clear both
	color #000
	font-family 'Circe-bold'
	font-size 14px
	margin-bottom 1px

#index-page div[data-role='footer'] .call-us > span
	display block
	clear both
	font-size 12px

#index-page div[data-role='footer'] .call-us > span > a
	text-decoration none

#index-page div[data-role='footer'] .call-us i.iphone-bg
	display block
	position absolute
	left 0
	top 14px
	sprite($s-iphone-bg)

#index-page ul.items-listing 
	overflow hidden
	clear both
	position relative
	padding 1em 3em 0 3em
	max-width 340px
	margin 0 auto

#index-page ul.items-listing li 
	float left
	width 33.333%
	padding-left 10%
	position relative

#index-page ul.items-listing li strong,
#index-page ul.items-listing li span
	display block
	clear both

#index-page ul.items-listing li strong
	color #fe5822
	font-size 12px

#index-page ul.items-listing li span
	color #545454
	font-size 10px

#index-page ul.items-listing li i
	position absolute
	display block
	left 0
	top 0

#index-page ul.items-listing li.item-1 i
	sprite($s-notes-icon)

#index-page ul.items-listing li.item-2 i
	sprite($s-doctors-icon)

#index-page ul.items-listing li.item-3 i
	sprite($s-reviews-icon)

#index-page .ui-select .ui-btn select
	height 25px
	min-height 25px
	top -5px
	font-size 12px