#index-page div[data-role='header'] 
	padding 1em 2em 0 2em
	display table
	width 100%

.city-dropdown-wrapper 
	float right
	position relative
	padding-right 20px

.city-dropdown-wrapper i
	position absolute 
	display block 
	right 0 
	top 10px 
	border-width 7px 
	border-style solid
	border-color transparent 
	border-top-color #29aaac

.city-dropdown-wrapper > span:first-child 
	color #29aaac
	font-family 'Circe-Regular'
	display block 
	position relative 
	padding-bottom 5px
	border-bottom 2px dotted #29aaac
	font-size 24px
	cursor pointer

.city-dropdown-wrapper > ul 
	display none 
	position absolute

.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit
	border none 
	background none 
	font-weight inherit 
	text-shadow none

.index-img-wrapper 
	position relative 
	overflow hidden 
	clear both 
	height 98px

.index-img-wrapper i 
	display block 
	margin 0 auto 
	sprite($s-logo)

.top-index-link
	clear both 
	position relative 
	overflow hidden 
	border-radius 35px

.ui-page-theme-a .top-index-link a 
	background-color #29aaac 
	text-decoration none
	color #fff
	display block
	position relative
	padding 22px 80px
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	font-size 26px
	text-shadow none

.top-index-link a i 
	display block
	position absolute
	border-width 12px 
	border-style solid
	border-color transparent
	border-top-color #fff
	right 25px
	top 30px

.top-index-link a span
	display block
	position absolute
	left 8px
	top 6px

.f-s a span 
	sprite($s-doctor-bg)
	
.f-m a span 
	sprite($s-metro-bg)

.index-main-block-wrapper
	position relative 
	overflow hidden
	clear both
	padding 0 1em

.imb-content
	position relative
	overflow hidden
	clear both
	margin-bottom 35px
	border-left 1px solid #bfbfbf
	border-right 1px solid #bfbfbf
	border-bottom 1px solid #bfbfbf
	border-radius 0 0 40px 40px
	padding 1.5em 2em 2.5em 2em
	gradient(#fefefe, #fafafa, #fafafa)

.imb-content p 
	text-align center
	color #000
	font-size 24px
	line-height 30px
	margin-bottom 1.2em

.index-main-block > h3:first-child
	display block 
	clear both 
	overflow hidden
	border 1px solid #bfbfbf
	padding 1em 0 
	text-align center
	border-radius 40px 40px 0 0
	font-size 35px
	color #29aaac
	font-family 'Circe-bold'
	gradient(#fff, #fff, #fefefe)

.f-s 
	margin-bottom 22px

.find-doctor
	position relative
	overflow hidden
	clear both
	margin 0 2em
	border 6px solid #e9dad5
	border-radius 50px

.find-doctor a.ui-link 
	text-decoration none
	display block
	text-transform uppercase
	text-shadow none
	color #fff
	border 4px solid #ce4417
	background-color #fe5822
	position relative
	padding 25px 0 23px 65px
	font-size 30px
	letter-spacing 2px
	border-radius 48px

.find-doctor a.ui-link i
	display block
	position absolute
	right 25px 
	top 17px
	sprite($s-lupa)

#index-page div[data-role='footer'] 
	position relative
	padding 10px 97px 36px 71px
	
#index-page div[data-role='footer'] > i
	sprite($s-doctor) 
	display block 
	position absolute 
	right 10px  
	bottom 0

#index-page div[data-role='footer'] a.link-to-site 
	text-decoration underline!important
	background none
	border none
	text-shadow none
	box-shadow(none)
	display block
	margin 0
	padding 0
	color #29aaac
	font-size 24px
	font-family 'Circe-bold'
	text-align left
	text-overflow none
	overflow visible
	line-height 32px

#index-page div[data-role='footer'] .call-us
	border-top 1px solid #bfbfbf
	border-bottom 1px solid #bfbfbf
	position relative
	overflow hidden
	clear both
	padding 28px 0 30px 50px
	margin 8px 55px 30px 0

#index-page div[data-role='footer'] .call-us > strong
	display block
	clear both
	color #000
	font-family 'Circe-bold'
	font-size 30px
	margin-bottom 1px

#index-page div[data-role='footer'] .call-us > span
	display block
	clear both
	font-size 24px

#index-page div[data-role='footer'] .call-us > span > a
	text-decoration none

#index-page div[data-role='footer'] .call-us i.iphone-bg
	display block
	position absolute
	left 0
	top 28px
	sprite($s-iphone-bg)

#index-page ul.items-listing 
	overflow hidden
	clear both
	position relative
	padding 3em 4em 1em 4em

#index-page ul.items-listing li 
	float left
	width 33.333%
	padding-left 10%
	position relative

#index-page ul.items-listing li strong,
#index-page ul.items-listing li span
	display block
	clear both

#index-page ul.items-listing li strong
	color #fe5822
	font-size 25px

#index-page ul.items-listing li span
	color #545454
	font-size 18px

#index-page ul.items-listing li i
	position absolute
	display block
	left 0
	top 0

#index-page ul.items-listing li.item-1 i
	sprite($s-notes-icon)

#index-page ul.items-listing li.item-2 i
	sprite($s-doctors-icon)

#index-page ul.items-listing li.item-3 i
	sprite($s-reviews-icon)
