#order-error .order-success-content > i.success-check,
#review-error .order-success-content > i.success-check
	sprite($s-error-check)

#order-error a.link-to-site,
#review-error a.link-to-site
	text-decoration underline!important
	background none
	border-top 1px solid #bfbfbf
	float left
	text-shadow none
	box-shadow(none)
	margin 0
	padding 10px 0 0 0
	color #29aaac
	font-size 11px
	font-family 'Circe-regular'
	text-align left
	text-overflow none
	overflow visible
	line-height 16px
	clear both

#order-error .link-to-favorites,
#review-error .link-to-favorites
	padding-left 0
