a.close-btn
	display block
	text-indent -9999em
	position absolute
	left 0
	top 50%
	margin-top -7px
	sprite($s-close-btn)

.success-block
	padding-left 36px
	padding-right 36px

#order-success .ui-panel-page-content-open + .mask-overlay
	display block