.send-review-wrapper
	padding-left 36px
	padding-right 36px

.send-review-top-block
	position relative
	overflow hidden
	clear both
	border-radius 20px
	border 1px solid #bfbfbf
	gradient(#ffffff, #fdfdfd, #fafafa) 