@import 'common/mobile'
@import 'common/reset'
@import 'common/base'
@import 'common/fonts'
@import 'common/helpers'
@import 'common/sprite'
@import 'parts/index'
@import 'parts/select-specialist'
@import 'parts/find-doctor'
@import 'parts/page-doctor'
@import 'parts/order-success'
@import 'parts/order-error'
@import 'parts/doctor-form'
@import 'parts/send-review'
@import 'parts/map-page'
@import 'common/retina'
@import 'common/ipad'
@import 'common/retina-ipad'