@import 'common/mobile'
@import 'common/reset'
@import 'common/base'
@import 'common/fonts'
@import 'common/helpers'
@import 'common/sprite'
@import 'parts/index'
@import 'parts/select-specialist'
@import 'parts/find-doctor'
@import 'parts/page-doctor'
@import 'parts/order-success'
@import 'parts/order-error'
@import 'parts/doctor-form'
@import 'parts/send-review'
@import 'parts/map-page'
@import 'common/retina'
@import 'common/ipad'
@import 'common/retina-ipad'

.ui-loader-default{
	width:5em;
	height:5em;
	margin-left:-2.5em;
	margin-top:-2.5em;
	opacity:.6;
}

.ui-loader .ui-icon-loading {
	position:relative;
	text-indent:-9999em;
	border-top:10px solid rgba(24, 177, 172, 0.3);
	border-right:10px solid rgba(24, 177, 172, 0.3);
	border-bottom:10px solid rgba(24, 177, 172, 0.3);
	border-left:10px solid #18b1ac;
	-webkit-animation:load8 1.1s infinite linear;
	animation:load8 1.1s infinite linear;
	padding:0;
	background:none transparent;
}

.ui-loader .ui-icon-loading,
.ui-loader .ui-icon-loading:after{
  	border-radius:50%;
  	width:6em;
  	height:6em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform:rotate(0deg);
    transform:rotate(0deg);
  }
  100% {
    -webkit-transform:rotate(360deg);
    transform:rotate(360deg);
  }
}


