extends layouts/layout
block content
	include parts/block-index
	include parts/find-doctor
	include parts/page-doctor
	include parts/doctor-form
	include parts/order-success
	include parts/order-error
	include parts/select-specialist
	include parts/metro-select
	include parts/send-review
	include parts/review-success
	include parts/review-error
	include parts/map-page