div(data-role='page', id='calling-page')
	div(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			.w-500

	div.ui-content.calling-page(role='main')

	div(data-role='footer', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			.w-500
				a(href='#page-doctor', data-role='none', data-transition='flip') End