div(data-role='page', id='doctor-form')
	div.fixed(data-role='header', data-position='fixed')
		.fixed-inn
			a.back-link(href='#page-doctor', data-transition='slide', data-direction='reverse')
			strong Записаться на прием
		.fixed-inn.w-500.doctor-info-block