div(data-role='page', id='find-doctor', data-title='Анестезиологи (1 824)')
	div#rightPanel.rightPanel(data-role='panel', data-position='right', data-display='reveal')
		.aside-header
			span.logo-small
			div.city-dropdown-wrapper 
				select 
					option Екатеринбург
					option Москва
					option Санкт-Петербург 
				i
		.aside-description
			p На нашем портале вы можете выбрать врача и записаться к нему на прием.
			p Мы поможем вам найти хорошего специалиста!
		.aside-block.mb-15
			strong О проекте
			ul
				li
					a(href='#') О сервисе
					i
				li
					a(href='#') Все врачи
					i
				li
					a(href='#') Все клиники
					i
		.aside-block
			strong Врачам и клиникам
			ul
				li
					a(href='#') Личный кабинет
					i
				li
					a(href='#') Регистрация
					i
		.aside-foo
			a(href='http://docdoc.ru/') Перейти на основную версию сайта
	div.fixed(data-role='header', data-position='fixed')
		.hide-scroll(data-transition='slide')
			.fixed-inn
				a.back-link(href='#index-page', data-transition='slide', data-direction='reverse')
				strong Анестезиологи (1 824)
				span м. Войковская
				a.panel-btn(href='#rightPanel')
			.fixed-inn.w-500
				p.description На нашем портале вы можете выбрать врача и записаться к нему на прием. Найти первоклассного специалиста вам помогут анкеты врачей, а также отзывы пацентов.
		.top-sort-block.w-500
			.sort-doctor-wrapper
				select
					option Сортировать по рейтингу
					option Сортировать по стоимости
					option Сортировать по близости
					option Сортировать по стажу
				span.triangle
			a.location-link(href='#')
	div.ui-content.padding-zero(role='main')
		ul.list-of-doctors
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130-2.png', alt='Мельков Евгений Евгеньевич')
						.rating-wrap
							strong 6.4
							ul
								li.full
								li.full
								li.full
								li.empty
								li.empty
						span.qty-reviews 2 отзыва
					.right-block
						h3.name Мельков Евгений Евгеньевич
						strong.prof Хирург, Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>25 лет</b>
							span.right Прием: <b>1 200 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130.png', alt='Саркисова Наталья Георгиевна')
						.rating-wrap
							strong 8.2
							ul
								li.full
								li.full
								li.full
								li.full
								li.empty
						span.qty-reviews 1 отзыв
					.right-block
						h3.name Саркисова Наталья Георгиевна
						strong.prof Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>18 лет</b>
							span.right Прием: <b>1 700 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130-2.png', alt='Мельков Евгений Евгеньевич')
						.rating-wrap
							strong 9.9
							ul
								li.full
								li.full
								li.full
								li.full
								li.full
						span.qty-reviews 3 отзыва
					.right-block
						h3.name Мельков Евгений Евгеньевич
						strong.prof Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>27 лет</b>
							span.right Прием: <b>1 800 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130.png', alt='Саркисова Наталья Георгиевна')
						.rating-wrap
							strong 8.3
							ul
								li.full
								li.full
								li.full
								li.full
								li.empty
						span.qty-reviews 2 отзыва
					.right-block
						h3.name Саркисова Наталья Георгиевна
						strong.prof Хирург, Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>19 лет</b>
							span.right Прием: <b>1 200 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130-2.png', alt='Мельков Евгений Евгеньевич')
						.rating-wrap
							strong 9.9
							ul
								li.full
								li.full
								li.full
								li.full
								li.empty
						span.qty-reviews 2 отзыва
					.right-block
						h3.name Мельков Евгений Евгеньевич
						strong.prof Хирург, Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>25 лет</b>
							span.right Прием: <b>1 200 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130-2.png', alt='Мельков Евгений Евгеньевич')
						.rating-wrap
							strong 6.4
							ul
								li.full
								li.full
								li.full
								li.empty
								li.empty
						span.qty-reviews 2 отзыва
					.right-block
						h3.name Мельков Евгений Евгеньевич
						strong.prof Хирург, Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>25 лет</b>
							span.right Прием: <b>1 200 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130.png', alt='Саркисова Наталья Георгиевна')
						.rating-wrap
							strong 8.2
							ul
								li.full
								li.full
								li.full
								li.full
								li.empty
						span.qty-reviews 1 отзыв
					.right-block
						h3.name Саркисова Наталья Георгиевна
						strong.prof Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>18 лет</b>
							span.right Прием: <b>1 700 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130-2.png', alt='Мельков Евгений Евгеньевич')
						.rating-wrap
							strong 9.9
							ul
								li.full
								li.full
								li.full
								li.full
								li.full
						span.qty-reviews 3 отзыва
					.right-block
						h3.name Мельков Евгений Евгеньевич
						strong.prof Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>27 лет</b>
							span.right Прием: <b>1 800 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130.png', alt='Саркисова Наталья Георгиевна')
						.rating-wrap
							strong 8.3
							ul
								li.full
								li.full
								li.full
								li.full
								li.empty
						span.qty-reviews 2 отзыва
					.right-block
						h3.name Саркисова Наталья Георгиевна
						strong.prof Хирург, Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>19 лет</b>
							span.right Прием: <b>1 200 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
			li
				a(href='#page-doctor', data-transition='slide')
					.left-block
						.avatar-wrap
							img(src='./public/img/pics/ava130-2.png', alt='Мельков Евгений Евгеньевич')
						.rating-wrap
							strong 9.9
							ul
								li.full
								li.full
								li.full
								li.full
								li.empty
						span.qty-reviews 2 отзыва
					.right-block
						h3.name Мельков Евгений Евгеньевич
						strong.prof Хирург, Анестезиолог 
						.skills-wrap
							span.left Стаж: <b>25 лет</b>
							span.right Прием: <b>1 200 <span>i</span></b>
						.address-wrap <i></i> ул. Клары Цеткин, д. 33, к. 28
					i
	div(data-role='footer', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			.w-500
				span.filter-number подобрать врача по номеру
				.call-doctor-btn
					a(href='tel:8-495-236-72-76')
						i
	div.mask-overlay