div.ui-responsive-panel(data-role='page', id='map-page', data-title='Информация о враче')
	div#rightPanelMap.rightPanel(data-role='panel', data-position='right', data-display='reveal')
		.aside-header
			span.logo-small
			div.city-dropdown-wrapper 
				select 
					option Екатеринбург
					option Москва
					option Санкт-Петербург 
				i
		.aside-description
			p На нашем портале вы можете выбрать врача и записаться к нему на прием.
			p Мы поможем вам найти хорошего специалиста!
		.aside-block.mb-15
			strong О проекте
			ul
				li
					a(href='#') О сервисе
					i
				li
					a(href='#') Все врачи
					i
				li
					a(href='#') Все клиники
					i
		.aside-block
			strong Врачам и клиникам
			ul
				li
					a(href='#') Личный кабинет
					i
				li
					a(href='#') Регистрация
					i
		.aside-foo
			a(href='http://docdoc.ru/') Перейти на основную версию сайта
	div.fixed(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			a.back-link(href='#find-doctor', data-transition='slide', data-direction='reverse')
			strong Информация о враче
			a.panel-btn(href='#rightPanelMap')
	div.ui-content.map-content(role='main')
		div(id='map_canvas')
		script.
			$(document).on('pageinit', '#map-page', function() {
				function mapInit(){				
					var geocoder = new google.maps.Geocoder(),
					mapOptions = {
						zoom: 14,
						scrollwheel: false,
						navigationControl: false,
						mapTypeControl: false,
						scaleControl: false,
						zoomControl: false,
						streetViewControl: false,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					},
					map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
					geocoder.geocode( { 'address': 'ул. Клары Цеткин, д. 33, к. 28' },
					function(results, status) {
						if (status == google.maps.GeocoderStatus.OK) {
							var mapLatLng = new google.maps.LatLng(
							results[0].geometry.location.lat(), 
							results[0].geometry.location.lng()
						),
						marker = new google.maps.Marker({
							position: mapLatLng,
							visible: false
						});
						map.setCenter(mapLatLng, mapOptions.zoom);
							marker.setMap(map);
						}
						var myOptions = {
							content: document.getElementById('infobox'),
							disableAutoPan: true,
							pixelOffset: new google.maps.Size(-100, -14),
							position: mapLatLng,
							closeBoxURL: '',
							isHidden: false,
							alignBottom: true,
							pane: 'mapPane',
							enableEventPropagation: true,
							infoBoxClearance: new google.maps.Size(1, 1)
						};
					var ibLabel = new InfoBox(myOptions);
						ibLabel.open(map); 
					});
				}
				mapInit();
			});
		.infobox-wrapper
			#infobox
				.infobox-inn
					.left-block
						img(src='./public/img/pics/ava65-2.png', alt='Мельков Евгений Евгеньевич')
					.right-block
						strong ул. Клары Цеткин, д. 33, к. 28
						em м. Войковская
				i.triangle
		a.close-map(href='#page-doctor', data-transition='fade')
	div(data-role='footer', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			.w-500
				.to-form-doctor-btn
					a(href='#doctor-form', data-transition='slide') записаться <i></i>
				.call-doctor-btn
					a(href='tel:8-495-236-72-76')
						i
	div.mask-overlay