div(data-role='page', id='select-metro', data-title='Ближайшее метро')
	div.fixed(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			a.back-link(href='#index-page', data-transition='slidedown') 
			strong Ближайшее метро:
		form.ui-filterable
			input#filterMetro-input(data-type='search', placeholder='Поиск по названию...', data-clear-btn='false')
			i
	div.ui-content.c-content(role='main')
		ul(datarole='listview', data-filter='true', data-input='#filterMetro-input')
			li.part A
			li 
				strong Авиамоторная
				i
			li
				strong Автозаводская
				i
			li
				strong Академическая
				i
			li
				strong Александровский сад
				i
			li.part M
			li
				strong Менделеевская
				i
			li.part K
			li
				strong Краснопресненская
				i
			li.part H
			li
				strong Новослободская
				i
			li.part C
			li
				strong Серпуховская
				i
			li
				strong Шhоссе Энтузиастов
				i
			li
				strong Александровский сад
				i
				