div(data-role='page', id='select-metro', data-title='Ближайшее метро')
	div.fixed(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			a.back-link(href='#index-page', data-transition='slidedown') 
			strong Ближайшее метро:
		form.ui-filterable
			input#filterMetro-input(data-type='search', placeholder='Поиск по названию...', data-clear-btn='false')
			i
	div.ui-content.c-content(role='main')
		ul#listMetro(data-role='listview', data-filter='true', data-inset='true', data-input='#filterMetro-input', data-autodividers='false')
			li(data-role='list-divider') А
			li
				strong Авиамоторная
				i
			li
				strong Автозаводская
				i
			li
				strong Академическая
				i
			li
				strong Александровский сад
				i
			li(data-role='list-divider') М
			li
				strong Менделеевская
				i
			li(data-role='list-divider') К
			li
				strong Краснопресненская
				i
			li
				strong Клександровский сад
				i
			li(data-role='list-divider') Н
			li
				strong Новослободская
				i
			li(data-role='list-divider') С
			li
				strong Серпуховская
				i
			li(data-role='list-divider') Ш
			li
				strong Шhоссе Энтузиастов
				i
			