div(data-role='page', id='review-error', data-title='Ошибка!')
	div.fixed(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			a.back-link(href='#send-review', data-transition='flip')
			strong Оставить отзыв
	div.ui-content.success-block(role='main')
		.order-success-content
			strong.success-title Ошибка!
			.success-text
				p.gray Внимание! Ваш отзыв не был отправлен. Попробуйте снова.Перед отправкой проверьте, все ли поля с информацией заполнены правильно.
				p.green P.S: команда DocDoc благодарит вас за использавание услуг нашего портала!
			i.success-check
		.order-success-bottom-block
			.link-to-favorites
				a(href='#send-review', data-transition='flip') Попробовать снова
			a.link-to-site(href='http://docdoc.ru/') Перейти на основную версию сайта
			i.doctor-bottom