div(data-role='page', id='select-specialist',  data-title='Выбрать специалиста')
	div.fixed(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			a.back-link(href='#index-page', data-transition='slidedown') 
			strong Выбрать специалиста:
		form.ui-filterable
			input#filterSpec-input(data-type='search', placeholder='Быстрый поиск', data-clear-btn='false')
			i
	div.ui-content.c-content(role='main')
		ul#listSpec(data-role='listview', data-filter='true', data-input='#filterSpec-input', data-autodividers='false')
			li(data-role='list-divider') А
			li 
				strong Акушер
				span оказание помощи беременным и роженицам во время родов
				em 235
				i
			li
				strong Аллерголог
				span лечение и профилактика аллергических заболеваний
				em 46
				i
			li
				strong Андролог
				span лечение органов мужской мочеполовой системы
				em 8764
				i
			li
				strong Анестезиолог
				span подготовка к операции и реабилитация после
				em 897
				i
			li
				strong Анестезиолог
				span диагностика и лечение заболеваний органов желудочно-кишечного тракта
				em 6456
				i
			li(data-role='list-divider') В
			li
				strong Венеролог
				span диагностика и лечение венерических, кожных и урологических заболеваний
				em 45
				i
			li(data-role='list-divider') Г
			li
				strong Гастроэнтеролог
				span диагностика и лечение заболеваний органов желудочно-кишечного тракта
				em 56
				i
			li
				strong Гастроэндекренолог
				span подготовка к операции и реабилитация после
				em 1
				i