div(data-role='page', id='send-review', data-title='Оставить отзыв')
	div.fixed(data-role='header', data-position='fixed', data-tap-toggle='false')
		.fixed-inn
			a.back-link(href='#page-doctor', data-transition='slidedown')
			strong Оставить отзыв
	div.ui-content.send-review-wrapper(role='main')
		form(action='#')
			.send-review-top-block